{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "browsers": "> 1%, not ie 11, not op_mini all",
          "node": 12
        }
      }
    ], "@babel/react"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/transform-runtime",
    [
      "import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      }
    ]
  ]
}
